<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %-5p %c{0}:%L - %m%n</pattern>
		</encoder>
	</appender>

	<!-- Reduce Hibernate logging -->
	<logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
		<appender-ref ref="CONSOLE" />
	</logger>
	<logger name="org.hibernate.type" level="INFO" additivity="false">
		<appender-ref ref="CONSOLE" />
	</logger>

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>